<table>
    <tr>
        <th>Nom de la voiture</th>
        <th>Marque</th>
        <th>Année</th>
        <th>Puissance (ch)</th>
        <th>Garage</th>
    </tr>
    {% for car in cars %}
        <tr style="background-color: {{ car.colorHex }};color: white">
            <td class="click-car" data-car-id="{{ car.id }}"><a href="#">{{ car.modelName }}</a></td>
            <td>{{ car.brand }}</td>
            <td>{{ car.year_formatted }}</td>
            <td>{{ car.power }}</td>
            <td>{{ car.garage }}</td>
        </tr>
    {% endfor %}
</table>